*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-family: 'ubuntu';
}

.maincontainer{

    width: 100%;
    text-align: center;
    width: 50%;
    margin: 200px auto;
     
}

h1{

    margin-bottom: 20px;
    font-family: "montserrat";
}

.search {

  outline: none;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  width: 100px;
  height: 25px;
  margin-top: 10px;
  background: rgb(255, 255, 255);
  border: 2px solid grey;
  font-size: 14px;
  
}

#operator{
    margin-top: 15px;
    background: rgb(255, 255, 255);
    text-align: center;
}

#button{
    cursor: pointer;
    font-size: 20px;
    margin: 20px auto;
    padding: 5px;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    background:rgb(0, 139, 0);
     
}

option{

    background: black;
    color: white;
    outline: none;
    border: none;
    
}

#answer {

    color: rgb(0, 139, 0);
    margin-top: 10px;
    font-size: 30px;
    font-family: "montserrat";
    
}